[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pygame = "*"
flake8 = "*"
pylint = "*"
pytest-cov = "*"
pydocstyle = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8.5"
